[submodule "pack/git-plugins/start/ale"]
	path = pack/git-plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/git-plugins/start/surround"]
	path = pack/git-plugins/start/surround
	url = https://tpope.io/vim/surround.git
